{% load i18n staticfiles %}<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>{% block title %}Image sharing. No bullshit.{% endblock %} - {{ request.site.name }}</title>

    <!-- Loading Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/all.min.css" %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700" rel="stylesheet">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/icons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" href="{% static "images/icons/favicon-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "images/icons/favicon-16x16.png" %}" sizes="16x16">
    <link rel="manifest" href="{% static "images/icons/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "images/icons/safari-pinned-tab.svg" %}" color="#33759F">
    <link rel="shortcut icon" href="{% static "images/icons/favicon.ico" %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static "images/icons/browserconfig.xml" %}">
    <meta name="theme-color" content="#ffffff">

    {% if image %}
    <link rel="canonical" href="https://{{ request.site.domain }}{{ image.get_absolute_url }}" />

    <meta property="og:title" content="{{ image.title }}">
    <meta property="og:site_name" content="{{ request.site.name }}">
    <meta property="og:url" content="https://{{ request.site.domain }}{{ image.get_absolute_url }}">
    <meta property="og:description" content="A sublime image, viewed {{ image.views }} times.">
    <meta property="og:type" content="object">
    <meta property="og:image" content="https://{{ request.site.domain }}{{ image.get_thumbnail_url }}">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    {% else %}
    <meta property="og:title" content="Image sharing. No bullshit.">
    <meta property="og:site_name" content="{{ request.site.name }}">
    <meta property="og:url" content="https://{{ request.site.domain }}">
    <meta property="og:description" content="IMGZ shares images.">
    <meta property="og:type" content="object">
    <meta property="og:image" content="https://{{ request.site.domain }}{% static "images/icons/android-chrome-512x512.png" %}">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    {% endif %}

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            [...document.querySelectorAll('[data-toggle]')].forEach((toggler) => {
                toggler.addEventListener('click', function(e) {
                    document.querySelector(this.dataset.target).classList.toggle('show');
                });
            });
        });
    </script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <!--begin header -->
    <header class="header">

        <!--begin navbar-fixed-top -->
        <nav class="navbar navbar-default navbar-fixed-top">

            <!--begin container -->
            <div class="container">

                <!--begin navbar -->
                <nav class="navbar navbar-expand-lg">

                    <!--begin logo -->
                    <a class="navbar-brand" href="/"><img src="{% static "images/logo.png" %}"/> {{ request.site.name }}</a>
                    <!--end logo -->

                    <!--begin navbar-toggler -->
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
                    <!--end navbar-toggler -->

                    <!--begin navbar-collapse -->
                    <div class="navbar-collapse collapse" id="navbarCollapse" style="">

                        <!--begin navbar-nav -->
                        <ul class="navbar-nav ml-auto">

                            {% if request.user.is_authenticated %}
                            <li><a href="{% url "main:faq" %}">FAQ</a></li>
                            {% if not user.is_paying %}
                            <li><a href="{% url "main:money" %}">Money</a></li>
                            {% endif %}
                            <li><a href="{% url "main:image-upload" %}">Upload</a></li>
                            <li><a href="{% url "main:account" %}">Account</a></li>
                            <li><a href="{% url "main:logout" %}">Log out</a></li>
                            {% else %}
                            <li><a href="{% url "main:faq" %}">FAQ</a></li>
                            <li><a href="{% url "main:money" %}">Money</a></li>
                            <li class="discover-link"><a href="/#login" class="external discover-btn">Log in</a></li>
                            {% endif %}

                        </ul>
                        <!--end navbar-nav -->

                    </div>
                    <!--end navbar-collapse -->

                </nav>
                <!--end navbar -->

            </div>
    		<!--end container -->

        </nav>
    	<!--end navbar-fixed-top -->

    </header>
    <!--end header -->

    <div style="padding-top: 97px"></div>

    {% if messages %}
    <section class="section-white" style="padding: 20px 0 0px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="benefits">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fa fa-circle-notch"></i> {{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </section>
    {% endif %}

{% block content %}
{% endblock %}

    <!--begin footer -->
    <div class="footer">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12 -->
                <div class="col-md-12 text-center">

                    <p>
                    Made by <a href="https://www.stavros.io" target="new">Stavros</a>
                    |
                    <a href="{% url "main:api-docs" %}">API</a>
                    |
                    <a href="{% url "main:terms" %}">Terms and conditions</a>
                    </p>

                    <ul class="footer_contact">
                        <li><a href="mailto:hi@stavros.io?subject={{ request.site.name }}+questions"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="https://twitter.com/stavros"><i class="fab fa-twitter"></i></a></li>
                    </ul>

                </div>
                <!--end col-md-6 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </div>

{% include "analytics.html" %}
</body>
</html>
