{% extends "base.html" %}

{% block title %}Your images{% endblock %}

{% block content %}
  	<!--begin services section -->
    <section class="section-grey section-top-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center padding-bottom-10">
                    <h3>Your images</h3>

                    <div class="row">
                        {% for image in images %}
                            {% include "fragments/image_card.html" %}
                        {% empty %}
                        <div class="col-md-12">
                        <p style="text-align: center">
                        You have no images. What's the use of an image sharing service with no images? Go <a
                            href="{% url "main:image-upload" %}">upload some</a>!
                        </p>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->
{% endblock %}
